@use "../../styles/_styles.scss" as style;

.header{
  width: 100vw;

  position: relative;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: style.$colorDark;
}

.header__name{
  font:{
    family: "Jost";
    weight: 700;
    size: 30px;
  }
  line-height: 1.6;
}

.header__nav{
  &-list{
    list-style-type: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;

    &Item > p{
      font-size: 20px;
      line-height: 1.6;
    }

  } 
}
.header__contacts{
  font-size: 30px;
  line-height: 1.6;
}

@media(max-width: 1920px){
  .header{
    padding: 0 {
      top: 30px;
      left: 100px;
      right: 100px;
    }
  }
}
