@use "../../styles/_styles.scss" as styles;

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  height: 160px;
  background: styles.$colorDark;
}
