@use "./styles/_styles.scss" as styles;

/*Utility classes*/
.flexing{
  grid-column: span 6;
}

.container{
  margin: 0 auto;
  padding: 0 15px; 
  max-width: 1190px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
